<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/project3"
        android:label="고속도로 포장서비스 "
        android:roundIcon="@drawable/project3"
        android:supportsRtl="true"
        android:theme="@style/Theme.App20240524">
        <activity
            android:name=".Resultpage"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/button_cart" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".Packaging"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cart"
            android:exported="true" />
        <activity
            android:name=".MapsActivity"
            android:exported="true" />
        <activity
            android:name=".Store"
            android:exported="false" />
        <activity
            android:name=".Fragement"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
    </application>

</manifest>
